/* INITIAL BASE STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
main {
  padding: 15rem 20rem;
  color: black;
  background-color: #FAF3E3;
}
/* Color sugestion
    #306060 -> #008080  Verde
    #0b0914 -> #4f2a5a  Roxo
    #3a3a3a -> #5a5a5a -> #9a9a9a  Cinzas
    #334c4c

    Color Retro Default
    #eeeeee -> #636E80 claro
    #c0c0c0 -> #4C5462 / 3E4651 médio
    #888888 -> #2A2F37 escuro
    #334c4c / #1E293B / #0F172A fundo escuro
    #D9CCBB -> #ECE5DC -> FAF3E3 fundo claro
*/
h1 {
  font-size: 2rem;
  font-weight: 500;
}
p {
  font-size: 1.5rem;
}

/* BASE STYLE ============================================================= */

/* Background Color */
.back-c-white {
  background-color: #FFFFFF;
}
.back-c-gray {
  background-color: #c0c0c0;
}

/* Padding */
.padding-base {
  padding: .5rem;
}
.padding-p1 {
  padding: .1rem;
}
.padding-p3 {
  padding: .3rem;
}
.padding-1p5 {
  padding: 1.5rem;
}
.margin-1 {
  margin: 1rem;
}

/* Size */
.width-6 {
  width: 6rem;
}
.height-6 {
  height: 6rem;
}

/* Border */
.border-base {
  border: .5rem solid;
  border-radius: 0;
  padding: .5rem;
  border-color: gray;
}
.border-w-p1 {
  border-width: .1rem;
}
.border-w-p3 {
  border-width: .3rem;
}
.border-w-p5 {
  border-width: .5rem;
}
.border-s-dash {
  border-style: dashed;
}
.border-s-sol {
  border-style: solid;
}
.border-c-gray {
  border-color: gray;
}
.border-c-1 {
  border-color: #eeeeee #888888 #888888 #eeeeee;
}
.border-c-2 {
  border-color: #888888 #eeeeee #eeeeee #888888;
}

/* Font */
.font-genos {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.font-orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 1.5rem;
}
.font-s-1p2 {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Display */
.d-none {
  display: none;
}

/* Display Flex */
.d-flex {
  display: flex;
}
.flex-d-column {
  flex-direction: column;
}
.flex-d-row {
  flex-direction: row;
}

/* Display Grid */
.d-grid {
  display: grid;
}

/* Gapping */
.gap-p5 {
  gap: .5rem;
}
.gap-1 {
  gap: 1rem;
}

/* Alignment */
.jc-center {
  justify-content: center;
}
.jc-space_between {
  justify-content: space-between;
}
.jc-space_around {
  justify-content: space-around;
}
.jc-space_evenly {
  justify-content: space-evenly;
}

.ji-center {
  justify-items: center;
}
.ji-space_between {
  justify-items: space-between;
}
.ji-space_around {
  justify-items: space-around;
}

.js-center {
  justify-self: center;
}
.js-start {
  justify-self: start;
}
.js-end {
  justify-self: end;
}

.al-i-center {
  align-items: center; 
}
.al-i-start {
  align-items: start;
}
.al-i-end {
  align-items: end;
}

.al-c-center {
  align-items: center;
}
.al-c-start {
  align-items: start;
}
.al-c-end {
  align-content: end;
}

.al-s-center {
  align-self: center;
}
.al-s-start {
  align-self: start;
}
.al-s-end {
  align-self: end;
}

.t-al-center {
  text-align: center;
}
.t-al-start {
  text-align: start;
}
.t-al-end {
  text-align: end;
}

/* Position */
.pos-abs {
  position: absolute;
}
.pos-rel {
  position: relative;
}

/* Visibility */
.vis-hid {
  visibility: hidden;
}

/* PRESET ELEMENTS STYLE ============================================================= */

.header {
  grid-template-columns: 1fr 1fr 1fr;
}
.header .count-bombs {
  width: 7rem;
}
.header .timer {
  width: 10rem;
}
.header img, .config img {
  width: 2rem;
}

.game-body {
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
}
.game-body .config {
  max-width: 21rem;
  min-width: 13rem;
}
.game-body .config label {
  padding-bottom: .3rem;
}
.game-body .config input[type="number"] {
  background-color: #FAF3E3;
  width: 100%;
  padding: .2rem .5rem;

  border: none;
  box-shadow: inset 0 0 .2rem .1rem #888888;
  outline: none;
}
/* ========================================================= */
/* ========================================================= */

.bomb-ratio-container .input-field input,
.square-width-container .input-field input {
  width: 3rem;
}
.bomb-ratio-container input[type="number"]::-webkit-outer-spin-button,
.bomb-ratio-container input[type="number"]::-webkit-inner-spin-button,
.square-width-container input[type="number"]::-webkit-outer-spin-button,
.square-width-container input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Input Slider Style */
.game-body .config input[type="range"] {
  -webkit-appearance: none;
  appearance: none;

  background: transparent;
  width: 100%;
  height: 1.5rem;
}
.game-body .config input[type="range"]::-webkit-slider-runnable-track {
  height: .5rem;
  background-color: #888888;
  border-radius: .5rem;
}
.game-body .config input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  /* border: 1px solid #444444; */
  background-image: linear-gradient(
    to right,
    /* #C0C0C0 50%,
    #888888 50% */
    #E7E7E7 50%,
    #c0c0c0 50%
  );
  translate: 0 calc(-50% + .5rem / 2);
  cursor: pointer;
}

/* DINAMIC PRESET ELEMENTS STYLE ============================================================= */

/* Animating Elements */
.settings img {  
  transition: transform .2s ease;
}
.settings img:hover {  
  transform: rotate(60deg);
}

/* Hidden preview-wrapper > size preview box */
.preview-wrapper {
  overflow: hidden;
}
.preview-wrapper > div {
  min-height: 0;
}
.preview-wrapper.hidden {
  grid-template-rows: 0fr;
  opacity: 0;

  transition: grid-template-rows .4s ease,
              opacity .2s ease;
}
.preview-wrapper.revealed {
  grid-template-rows: 1fr;
  opacity: 1;

  transition: grid-template-rows .4s ease,
              opacity .8s ease;
}

/* Hidden game-over-modal */
.game-over-modal {
  width: 35rem;
  height: 18rem;
  padding-bottom: 3rem;
  box-shadow: 0 0 2rem 1rem gray;

  position: absolute;
  top: calc(50% - 18rem / 2);
  left: calc(50% - 35rem / 2);
}
.game-over-modal.hidden {
  visibility: hidden;
  opacity: 0;

  transition: opacity .2s ease,
              visibility .2s ease;
}
.game-over-modal.revealed {
  visibility: visible;
  opacity: 1;

  transition: opacity .2s ease,
              visibility .2s ease;
}
.game-over-modal button {
  width: 15rem;
  height: 4rem;
  padding: .3rem;
}
.game-over-modal button:hover {
  font-size: 1.6rem;
  transition: font-size .2s ease;
}
.game-over-modal button:active {
  border-color: #888888 #eeeeee #eeeeee #888888;
  transition: border-color .2s ease;
}
.game-over-modal-x-mark {
  align-self: flex-end;
  height: 2rem;
  margin-bottom: 0;
}
.game-over-modal-x-mark img {
  width: 2rem;
}
.game-over-modal-text {
  margin-bottom: 2rem;
}
.container-filter {
  filter: blur(.1rem) brightness(70%);

  transition: filter .2s ease;
}

/* ELEMENTS STYLE BUILT VIA JS ============================================================= */

.game-body .grid {
  background-color: #c0c0c0;

  border: .5rem solid;
  border-radius: 0;
  border-color: #888888 #eeeeee #eeeeee #888888;

  display: grid;
  justify-content: center;
  align-content: center;  
  gap: 0;
}

.square.hidden{
  background-color: #c0c0c0;

  border: .3rem solid;
  border-radius: 0;
  border-color: #eeeeee #888888 #888888 #eeeeee;

  span {
    visibility: hidden;
  }

  &[data-is-flagged="true"] {
    background-image: url('../assets/flag.png');
    background-size: cover;

    &.incorrect-flag-square {
      background-image: url('../assets/x-mark2.png'), url('../assets/flag.png');
    }
  }
}
.square.revealed{
  background-color: #c0c0c0;

  border: .1rem solid gray;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  container-type: inline-size;

  span {
    font-size: 100cqw;
    font-weight: 500;
  }
  
  &[data-type="bomb"] {
    background-image: url('../assets/bomb.png');
    background-size: cover;

    &.bomb-square-red {
      background-color: red;
    }
  }
  &[data-digit="1"] { color: blue; }
  &[data-digit="2"] { color: green; }
  &[data-digit="3"] { color: red; }
  &[data-digit="4"] { color: purple; }
  &[data-digit="5"] { color: brown; }
  &[data-digit="6"] { color: #00CCCC; }
  &[data-digit="7"] { color: black; }
  &[data-digit="8"] { color: #404040; }
}